@use "css-variables" as cv;
@use "root-variables" as rv;
@use "default-variables" as dv;

// Default Control Variables
$control-radius: cv.get-var("radius") !default;
$control-radius-small: cv.get-var("radius-small") !default;
$control-border-width: 1px !default;
$control-size: cv.get-var("size-normal") !default;
$control-height: 2.5em !default;
$control-line-height: 1.5 !default;
$control-padding-vertical: calc(0.5em - #{$control-border-width}) !default;
$control-padding-horizontal: calc(0.75em - #{$control-border-width}) !default;
$control-focus-shadow-l: 50% !default;

// Register Variables
:root {
  @include cv.register-vars(
    (
      "control-radius": $control-radius,
      "control-radius-small": $control-radius-small,
      "control-border-width": $control-border-width,
      "control-height": $control-height,
      "control-line-height": $control-line-height,
      "control-padding-vertical": $control-padding-vertical,
      "control-padding-horizontal": $control-padding-horizontal,
      "control-size": $control-size,
      "control-focus-shadow-l": $control-focus-shadow-l,
    )
  );
}

// Base Control Mixin
@mixin control {
  align-items: center;
  appearance: none;
  border: cv.get-var("control-border-width") solid transparent;
  border-radius: cv.get-var("control-radius");
  box-shadow: none;
  display: inline-flex;
  font-size: cv.get-var("control-size");
  height: cv.get-var("control-height");
  justify-content: flex-start;
  line-height: cv.get-var("control-line-height");
  padding: cv.get-var("control-padding-vertical")
    cv.get-var("control-padding-horizontal");
  position: relative;
  transition: background-color, border-color, box-shadow, color
    cv.get-var("duration");
  vertical-align: top;

  // States
  &:focus,
  &:focus-visible,
  &:focus-within,
  &.#{dv.$class-prefix}is-focused,
  &:active,
  &.#{dv.$class-prefix}is-active {
    outline: none;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}

// Control Sizes
@mixin control-small {
  border-radius: cv.get-var("radius-small");
  font-size: cv.get-var("size-small");
}

@mixin control-medium {
  font-size: cv.get-var("size-medium");
}

@mixin control-large {
  font-size: cv.get-var("size-large");
}
