/* Error: Undefined mixin.
 *    ,
 * 59 | /     @include responsive("from", dv.$tablet) {
 * 60 | |       &:not(.#{dv.$class-prefix}is-desktop) {
 * 61 | |         display: flex;
 * 62 | |       }
 * 63 | \     }
 *    '
 *   src\theme\grid\columns.scss 59:5  @forward
 *   src\theme\grid\_index.scss 3:1    @forward
 *   src\theme\_index.scss 7:1         @use
 *   src\main.scss 1:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 59 \2502  \250c      @include responsive("from", dv.$tablet) {\a 60 \2502  \2502        &:not(.#{dv.$class-prefix}is-desktop) {\a 61 \2502  \2502          display: flex;\a 62 \2502  \2502        }\a 63 \2502  \2514      }\a    \2575 \a   src\\theme\\grid\\columns.scss 59:5  @forward\a   src\\theme\\grid\\_index.scss 3:1    @forward\a   src\\theme\\_index.scss 7:1         @use\a   src\\main.scss 1:1                 root stylesheet';
}
