/* Error: "Expected a color, but got number: 100%"
 *     ,
 * 111 |   @if fn.futraColorLuminance($base) > fn.futraColorLuminance($scheme-main) {
 *     |                                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   src\theme\utilities\css-variables.scss 111:39  generate-on-scheme-colors()
 *   src\theme\utilities\css-variables.scss 107:3   generate-color-palette()
 *   src\theme\themes\light.scss 122:7              light-theme()
 *   src\theme\themes\_index.scss 11:3              @forward
 *   src\theme\_index.scss 2:1                      @use
 *   src\main.scss 1:1                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "Expected a color, but got number: 100%"\a     \2577 \a 111 \2502    @if fn.futraColorLuminance($base) > fn.futraColorLuminance($scheme-main) {\d\a     \2502                                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   src\\theme\\utilities\\css-variables.scss 111:39  generate-on-scheme-colors()\a   src\\theme\\utilities\\css-variables.scss 107:3   generate-color-palette()\a   src\\theme\\themes\\light.scss 122:7              light-theme()\a   src\\theme\\themes\\_index.scss 11:3              @forward\a   src\\theme\\_index.scss 2:1                      @use\a   src\\main.scss 1:1                              root stylesheet';
}
